BOT_TOKEN=your_telegram_bot_token_here
SUPABASE_URL=https://nqhwztqssuichayuuvem.supabase.co
SUPABASE_KEY=sb_publishable_QRLow0i3sx2P-3mxyPwbnw_zd1dHmQx
SUPABASE_PRODUCTS_TABLE=DigitalProductsInventory
SUPABASE_PRODUCT_REVENUE_TABLE=ProductRevenueTable
SUPABASE_PAYMENT_METHOD_USAGE_TABLE=PaymenyMethodUsage
SUPABASE_DAILY_REVENUE_TABLE=DailyRevenueTable
SUPABASE_USERS_TABLE=Users
SUPABASE_WALLET_TABLE=Wallet
SUPABASE_USERS_TELEGRAM_ID_COLUMN=telegram_id
ADMIN_USER_IDS=5666304947
ADMIN_GROUP_CHAT_ID=-1001234567890
INSTAPAY_PHONE_NUMBER=+51324355
ZENO_BANK_API_KEY=your_zeno_bank_api_key_here
ZENO_WEBHOOK_ENABLED=true
ZENO_WEBHOOK_HOST=0.0.0.0
ZENO_WEBHOOK_PORT=8080
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=onyx-sequence-495923-u6-c721f52f1910.json
GOOGLE_DRIVE_DINVENTORY_FOLDER_ID=1i9nYsdFM_hkkBUOV51h2ktj3OUgE6VRO
GOOGLE_DRIVE_AUTH_MODE=oauth
GOOGLE_OAUTH_CLIENT_SECRETS_PATH=client_secret_787218201261-is11fuldvh3shs8a05cq53dvg9dtu9eq.apps.googleusercontent.com.json
GOOGLE_OAUTH_TOKEN_PATH=google_oauth_token.json
GOOGLE_OAUTH_FLOW=console
